body:has(.bg-stars) {
  background-image: linear-gradient(rgba(#141414, 0.75), rgba(#141414, 0.75)),
    url(../assets/images/bg-stars.png);
  background-attachment: fixed;
}

.bg-stars {
  color: #fff;
}

.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
