@use "../base/variables" as v;
@use "../base/mixins" as m;

.button {
  // background-color: transparent;
  // border: none;
  // color: v.$color-white;
  // transition: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  @include m.headerLink;

  &--trash {
    // background: none;

    font-size: 1.5rem;
    // min-width: 5rem;
  }

  &--login {
    font-size: 2rem;
  }

  &--signin-form {
    border: 1px solid v.$color-white;
    border-radius: 0.4rem;
    padding: 0 1rem;
  }

  &--outline {
    font-size: 1.6rem;

    & a:hover {
      color: v.$color-white;
    }
  }
}
