@use "../base/variables" as v;
@use "../base/mixins" as m;

form {
  background-color: v.$color-white;
  display: grid;
  color: v.$color-grey-dark;
  padding: 2rem;

  & label {
    color: v.$color-grey-dark;
  }

  & input {
    height: 5rem;
  }

  &__button {
    background-color: v.$color-grey-dark;
  }

  &.delete-form {
    display: grid;
    gap: 2rem;
    // justify-items: center;
    grid-template-columns: 1fr min-content;
  }
}
