.navbar {
    background-color: #1c2128;
}

.nav-link {
    color: white;
}

footer {
    background-color: #1c2128;
}

footer, .mb-3 {
    color: white;
}

.navbar-expand-lg .navbar-collapse {
    justify-content: flex-end;
}