@use "../base/variables" as v;
@use "../base/mixins" as m;

header {
  background-color: v.$color-black;
}
.header__title {
  font-size: 3rem;
  color: v.$color-white;
}

.navbar {
  padding: 1rem 2rem;
  background-color: #1c2128;
  display: flex;
  align-items: center;
}

.navbar-brand {
  padding: 0;
  flex: 1;
}

.navbar-toggler {
  color: v.$color-white;
  background: dimgray;
}

.navbar-nav {
  align-items: end;
}

.nav-link {
  color: v.$color-white;
}

footer {
  background-color: #1c2128;
}

footer,
.mb-3 {
  color: v.$color-white;
}

.profile__button {
  margin-right: 1.5rem;
  background: transparent;
  border: transparent;
  color: v.$font-light;
}

