.homePage{
    margin: 60px;
}
.hero {
    height: 365px;
    width: 100%;
    margin-top: 60px;
    margin-bottom: 60px;
    background-size: cover;
    background-position: center;
    border: 10px solid dimgray;
    border-radius: 1000px;

}
@media screen and (min-width: 1400px) {
    .hero {
        height: 500px;
    }
}
@media screen and (max-width: 968px) {
    .hero {
        height: 250px;
    }
}
@media screen and (max-width: 600px) {
    .hero {
        height: 200px;
    }
}
@media screen and (max-width: 450px) {
    .hero {
        display: none;
    }
}
