@use "../base/mixins" as m;

.jobs {
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include m.respond(bp-sm) {
      align-items: start;
    }
  }

  &__page-top {
    margin-bottom: 4rem;
  }
}
