
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px
}
.form-center{
    width:400px;
}
.form-group{
    padding-top: 10px
} 
.modal-position{
    padding: 60px 400px 60px 400px 
}