#teamContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.teamRow {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 3rem;
    --bs-gutter-x:var(--bs-gutter-x)
}

